.pagination {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.paginationList {
  display: flex;
  column-gap: 5px;
}

.currentPage {
  background-color: var(--pagination-current-page);
}

.paginationItem {
  background-color: transparent;
  border: none;
}

@media (max-width: 700px) {
  .pagination {
    padding-right: 16px;
  }
}
