.pagination {
  display: flex;
  justify-content: end;
  margin-bottom: 20px;
}

.paginationList {
  display: flex;
}

.currentPage {
  background-color: lightgray;
}

.paginationItem {
  background-color: transparent;
  border: none;
}
