.allFilters {
  display: flex;
  flex-wrap: wrap;
  column-gap: 35px;
  row-gap: 18px;
}

.filterSection {
  display: flex;
  flex-direction: column;
  row-gap: 10px;
}

.numberSection {
  display: flex;
  column-gap: 15px;
}

.dataSection {
  display: flex;
  column-gap: 15px;
}

.filterNumber {
  width: 100px;
  height: 25px;
  color: rgb(191, 191, 191);
  border-radius: 5px;
  border: 1px solid currentColor;
  padding: 4px;
  font-size: 10px;
}

.filterData {
  width: 100px;
  height: 25px;
  color: rgb(191, 191, 191);
  border-radius: 5px;
  border: 1px solid currentColor;
  padding: 4px;
  font-size: 10px;
}

.filterNumber::placeholder {
  color: currentColor;
}

.filterNumber:focus {
  outline: none;
  border-color: grey;
}

.filterNumber::-webkit-inner-spin-button, 
.filterNumber::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.filterNumber {
  -moz-appearance: textfield;
}

