.icon {
  position: absolute;
  left: 2px;
  top: 2px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: var(--color-btn-theme-in);
}

.icon svg {
  transform: translateY(18%) translateX(18%);
}


