@import url("./styles/reset.scss");


h1 {
  font-size: 26px;
  font-weight: 700;
  margin-bottom: 20px;
}

h2 {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 12px;
}

h3 {
  font-size: 16px;
}